.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
}

.home-top {
  width: 100vw;
  height: 50vh;
  background-color: rgb(255, 239, 220);
  min-height: 25vh;
  /* padding: 28vh 20vw 20vh; */
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-top > h1 {
  width: 60%;
  margin: auto;
}

.home-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-photo {
  width: 250px;
  height: 320px;
  margin: -5em 0.5em 5em 0.5em;
}

.home-3 {
  width: 100vw;
  height: 50vh;
  /* padding: 20vh 20vw 20vh; */
  background-color: rgb(238, 182, 157);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-3 > img {
  width: 250px;
  height: 320px;
  margin: auto;
}

@media only screen and (max-width: 549px) {
  .home-image-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -5em;
  }

  .home-photo {
    margin: 1em auto 5em;
  }
}
